<div class="modal d-block {{type}}"  tabindex="-1">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark p-5 mx-3">
      <div class="modal-body">
        <h3 class="lead">
          <i class="fa-solid me-2 {{type === 'win' ? 'fa-trophy' : 'fa-xmark'}}"></i>
          {{type === 'win' ? 'Congratulations, you won' : 'Game Over, you lose'}}
        </h3>
      </div>
      <button type="button" class="btn btn-primary px-4 py-3" (click)="restart()">
        {{type === 'win' ? 'Start a new game' : 'Try again'}}
      </button>
    </div>
  </div>
</div>