<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand text-muted me-0" href="#">
          <i class="bi bi-grid-3x3-gap-fill me-2"></i> Angular Sudoku
        </a>
      </div>
    </nav>
  </header>

  <main class="position-relative px-3 h-100 d-flex justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </main>
</div>
