<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand text-muted me-0" href="#">
          <i class="bi bi-grid-3x3-gap-fill me-2"></i> Angular Sudoku
        </a>
      </div>
    </nav>
  </header>

  <main class="position-relative px-3 h-100 d-flex justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </main>
  <footer class="p-2">
    <div class="container-fluid d-flex justify-content-center">
      <span class="text-muted">2023 source code <a href="https://github.com/cleitonpax/sudoku-ng15" class="text-muted "
          target="_blank">UI</a> & <a href="https://github.com/garusocruz/hangman-game/tree/main/app/domains/sudoku#readme" class="text-muted"
          target="_blank">API</a></span>
    </div>
  </footer>
</div>