@import 'node_modules/bootstrap/scss/bootstrap';

.popover {
    max-width: 384px !important;
    box-shadow: 0 0 0 0.2rem rgb(129 126 126 / 92%);
    --bs-popover-bg: rgb(243, 243, 243);
    box-shadow: 4px 3px 10px 0 rgb(14 14 14 / 64%);

    .popover-body {
        padding: 4px 2px 4px 4px;
    }

    .btn {
        margin-right: 2px;
        width: 40px;
    }
}